.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
  height: auto;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Styles for the card */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 200px; /* Set the card's width for layout consistency */
  height: 300px; /* Set the card's height */
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;  /* Make sure spinner is centered in the card */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey border */
  border-left-color: #09f; /* Blue border on one side */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

